<script>
	import HomeBlockHero from '$lib/components/HomeBlockHero.svelte';
	import HomeBlockLabs from '$lib/components/HomeBlockLabs.svelte';
	import HomeBlockRecommendations from '$lib/components/HomeBlockRecommendations.svelte';
	import HomeBlockProjects from '$lib/components/HomeBlockProjects.svelte';
	import HomeBlockWriting from '$lib/components/HomeBlockBlog.svelte';
	import HomeHeader from '$lib/components/HomeHeader.svelte';
	import SvgSiteBackground from '$lib/components/SVGSiteBackground.svelte';
	import Link from '$lib/components/Link.svelte';

	export let data;

	$: console.log(data);

	$: projects = data.posts.filter((post) => post.categories.includes('projects'));
	$: recommendations = data.posts.filter((post) => post.categories.includes('recommendations'));
	$: labs = data.posts.filter((post) => post.categories.includes('labs'));
	$: console.log(labs)
	$: notes = data.posts.filter((post) => post.categories.includes('notes'));

	console.log(notes);
</script>

{#if data}
	<div class="relative w-full h-full flex flex-col bg-blue-950">
		<!-- header -->
		<HomeHeader />

		<!-- content grid -->
		<div class="w-full h-full flex flex-col gap-3 p-6 overflow-y-scroll">
			<!-- top row -->
			<div class="lg:h-full grid grid-cols-1 lg:grid-cols-[4fr,3fr] gap-3">
				<HomeBlockHero />
				<HomeBlockWriting>
					<ul>
						{#each notes as note}
							<li class="list-disc list-inside pt-3">
								<Link href={`/${note.slug}`} textSize={'text-base lg:text-xl'}>{note.title}</Link>
							</li>
						{/each}
					</ul>
				</HomeBlockWriting>
			</div>
			<!-- bottom row -->
			<div class="lg:h-full grid grid-cols-1 lg:grid-cols-3 gap-3">
				<HomeBlockLabs>
					<ul>
						{#each labs as lab}
							<li class="list-disc list-inside pt-3">
								<Link href={`/${lab.slug}`} textSize={'text-base lg:text-xl'}>{lab.title}</Link>
							</li>
						{/each}
					</ul>
				</HomeBlockLabs>

				<HomeBlockRecommendations>
					<ul>
						{#each recommendations as recommendation}
							<li class="list-disc list-inside pt-3">
								<Link href={`/${recommendation.slug}`} textSize={'text-base lg:text-xl'}
									>{recommendation.title}</Link
								>
							</li>
						{/each}
					</ul>
				</HomeBlockRecommendations>

				<HomeBlockProjects>
					<!-- <ul>
						{#each projects as project}
							<li class="list-disc list-inside pt-3">
								<Link href={`/${project.slug}`} textSize={'text-base lg:text-xl'}>{project.title}</Link>
							</li>
						{/each}
					</ul> -->
				</HomeBlockProjects>

			</div>
		</div>

		<!-- absolute bg -->
		<!-- <div class="absolute top-0 left-0 w-full h-full -z-10">
			<SvgSiteBackground />
		</div> -->
	</div>
{/if}
