<!-- This file renders each individual blog post for reading. Be sure to update the svelte:head below -->
<script>
	import HomeHeader from '$lib/components/HomeHeader.svelte';

	export let data;

	const { PostContent } = data;
</script>

<HomeHeader />
<div class="mx-auto max-w-[85ch]">
	<svelte:component this={PostContent} />
</div>
