<script>
	import HomeBlock from './HomeBlock.svelte';
	import Link from './Link.svelte';
</script>

<HomeBlock>
	<h2 class="text-4xl text-blue-950">Latest posts</h2>
	<slot />
	<div class="flex-grow flex items-end justify-end">
		<div class="flex gap-1">
			<Link href={'/~'}>All posts</Link>
		</div>
	</div>
</HomeBlock>
