<script>
	import Link from './Link.svelte';
	import ProfilePicSrc from '$lib/assets/media/profile-pic.webp';
</script>

<div class="flex flex-col h-full bg-white/[0.9] rounded-md">
	<!-- <p class="text-5xl font-black text-white bg-blue-600 p-4 rounded-t-md text-center">Hi, my name is</p> -->
	<div class="flex flex-col flex-grow h-full gap-3 px-8 justify-center">
		<!-- hero -->
		<div class="flex w-full items-center gap-3">
			<!-- picture, message -->
			<div class="flex flex-col sm:flex-row w-full gap-6 text-blue-950">
				<!-- welcome message -->
				<div class="flex flex-col gap-4">
					<!-- name tag -->
					<p class="text-4xl font-normal pt-2">Hi, my name is</p>
					<p class="text-5xl font-black rounded-sm">Andrew Roberts.</p>
					<!-- about me  -->
					<p class="text-2xl rounded-sm text-ellipsis">
						I'm a product engineer currently working on an early stage healthcare startup.
					</p>
					<p class="text-md">
						<span class="p-1 bg-blue-950 text-white">On this site, I write about</span>: TypeScript, Terraform, AWS, GCP, Cloudflare
						Workers, React, SvelteKit, iOS, Firebase, Postgres, GraphQL, LLMs
					</p>
				</div>
					<!-- profile picture -->
					<img
					class="rounded-full max-h-48 h-48 w-48 shrink-0 my-auto border-blue-950 border-[5px]"
					src={ProfilePicSrc}
					alt="me"
				/>
			</div>
		</div>
		<!-- links -->
		<div class="flex items-center justify-end gap-1">
			<span class="text-lg">More on </span>
			<Link href={'/about'}>About page</Link>
		</div>
	</div>
</div>
