<script>
	import Link from '$lib/components/Link.svelte';
	import {
		Home as HomeSvg,
		Twitter as TwitterSvg,
		GithubIcon as GithubIconSvg,
		LinkedinIcon as LinkedInSvg
	} from 'lucide-svelte';
</script>

<div class="flex flex-wrap items-center p-6 bg-white/[0.9] border-b gap-3">
	<!-- site title -->
	<div class="flex items-center gap-1">
		<HomeSvg class="w-5 h-5" />
		<Link href="/">andwrobs.com</Link>
	</div>
	<!-- socials -->
	<div class="flex flex-wrap flex-grow items-center sm:justify-end gap-3">
		<div class="flex items-center gap-1">
			<TwitterSvg class="text-neutral-800 w-5 h-5" />
			<Link href="https://twitter.com/andwrobs">@andwrobs</Link>
		</div>
		<div class="flex gap-1">
			<GithubIconSvg class="text-neutral-800 w-5 h-5" />
			<Link href="https://github.com/andwrobs">@andwrobs</Link>
		</div>
		<div class="flex gap-1">
			<LinkedInSvg class="text-neutral-800 w-5 h-5" />
			<Link href="https://linkedin.com/in/andwrobs">@andwrobs</Link>
		</div>
		
	</div>
</div>
