<script lang="ts">
	export let href: string;
	export let textSize: string = 'text-md';
</script>

<a class={`link grayLink ${textSize}`} href={`${href}`}>
	<!-- use slot to pass through title label  -->
	<slot />
</a>

<style lang="postcss">
	.link {
		@apply rounded-md underline underline-offset-4 decoration-dotted;
	}
	.grayLink {
		@apply text-gray-800 decoration-gray-700/20;
	}
	.grayLink:focus {
		@apply outline-none ring-2 ring-offset-4 ring-offset-white bg-white/50;
	}
	.grayLink:focus {
		@apply text-gray-900 decoration-gray-900 ring-gray-900;
	}
	.grayLink:hover {
		@apply text-gray-900 decoration-gray-900;
	}
	.grayLinkActive {
		@apply text-gray-900;
	}
</style>
