<script>
	import Link from './Link.svelte';

	export let data;

	let categories = ['projects', 'recommendations', 'labs', 'notes'];
	let activeCategories = ['projects', 'recommendations', 'labs', 'notes'];
	let pages = data.posts.slice(0, 10);

	const toggleCategory = (category) => {
		if (activeCategories.includes(category)) {
			activeCategories = activeCategories.filter((c) => c !== category);
		} else {
			activeCategories.push(category);
		}
	};
</script>

<div class="flex gap-2 mb-4">
	{#each categories as category}
		<button
			class="px-2 py-1 rounded-md {activeCategories.includes(category)
				? 'bg-blue-500 text-white'
				: 'bg-gray-200'}"
			on:click={() => toggleCategory(category)}
		>
			{category}
		</button>
	{/each}
</div>

<ul>
	{#each pages as page (page.id)}
		{#if activeCategories.some((category) => page.categories.includes(category))}
			<li class="list-disc list-inside">
				<Link href={`/${page.slug}`} textSize={'text-xl'}>{page.title}</Link>
			</li>
		{/if}
	{/each}
</ul>
