<svg class="w-full h-full" xmlns="http://www.w3.org/2000/svg">
	<linearGradient id="gradient">
		<stop stop-color="#579" />
		<stop offset="1" stop-color="#248" />
	</linearGradient>
	<filter id="filter">
		<feTurbulence type="fractalNoise" baseFrequency=".008 .01" numOctaves="5" />
		<feComponentTransfer>
			<feFuncA type="gamma" exponent="1.1" />
		</feComponentTransfer>
		<feColorMatrix
			values="0 0 0 0 1
														 0 0 0 0 1
														 0 0 0 0 1
														 0 0 0 -1 .5"
		/>
		<feBlend in2="SourceGraphic" />
	</filter>
	<rect width="100%" height="100%" fill="url(#gradient)" filter="url(#filter)" />
</svg>
